<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087445092000-l012t3k354gbml839u470f8jd99bkkvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087445092000-l012t3k354gbml839u470f8jd99bkkvb</string>
	<key>API_KEY</key>
	<string>AIzaSyCWyngqEB0GpVwHXOGlnUqyMszzDemu7Og</string>
	<key>GCM_SENDER_ID</key>
	<string>1087445092000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snaphere.snaphere</string>
	<key>PROJECT_ID</key>
	<string>snaphere-d5518</string>
	<key>STORAGE_BUCKET</key>
	<string>snaphere-d5518.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087445092000:ios:a878da020ebc6fecba2bc5</string>
</dict>
</plist>